.header {
  font-size: 250%;
}

.container, .header {
  margin: 20px auto;
  width: 600px;
  padding: 20px 20px 20px 20px;
  border: 1px solid brown;
  text-align: center;
  background-image: url('images/wood_background.png');
}

a {
  text-decoration: none;
}

.route_link {
  /*text-decoration: none;*/
  background-color: #F5D0A9;
  position: relative;
  margin: 1%;
  border: 1px solid brown;
  padding: 1%;
  color: brown;
}

.command_link {
  background-color: brown;
  position: relative;
  margin: 1%;
  border: 1px solid #F5D0A9;
  padding: 1%;
  color: #F5D0A9;
}

.recipe_link, ul {
  text-decoration: none;
  list-style-type: none;
  color: brown;
  background-color: #F5D0A9;
}

body {
  color: #FAAC58;
}

li {
  font-size: 120%;
}

h1, h2, h3, h4, h5, h6 {
  background-color: #F5D0A9;
  color: brown;
}

.file_selector_link {
  color: brown;
}

.intro_info {
  border: 1px solid brown;
  padding: 1%;
}

