<h1>Upload Your Recipe File Here</h1>
<h4>Note: Be SURE to include a recipe name, otherwise your PDF won't save correctly!</h4>
<form action='/uploadrecipe' enctype="multipart/form-data" method='post'>
    <h2>Recipe Name:</h2> <input type="text" name="name" placeholder="name of recipe"><br>
    <h2>Recipe File:</h2> <input type="file" name="upload" class="file_selector_link"><br>
    <input type='submit' value='Upload Your Recipe!' class="upload command_link">
</form><br>

<a href='/' class="account_link route_link">Nevermind</a>