<h2>Welcome back, <%= @user.username %>!</h2>
<h3>This is your account page.</h3>
<h3>Your Uploaded Recipes:</h3>
<% @recipes.each do |recipe| %>
<%= recipe.filepath %><br>
<% end %><br>

<a href='/uploadrecipe'>Click here to upload a recipe file</a><br>


<a href='/logout'>Logout</a>