<h2>Welcome back, <%= @user.username %>!</h2>
<a href='/logout' class="logout_link">Logout</a>
<h3>Your Uploaded Recipes:</h3>

<ul>
<% @recipes.each do |recipe| %>
  <li><a href="<%= recipe.filepath %>" class="recipe_link" target="_blank"><%= recipe.name %></a></li>
<% end %>
</ul><br>

<div class="upload">
<a href='/uploadrecipe' class="upload_link">Click here to upload a recipe file</a>
</div>
