<h1>Sign In</h1>

<form action='/login' method='post'>
  Username: <input type='text' name='username' placeholder='Username'><br>
  Password: <input type='password' name='password' placeholder='Password'><br>
  <input type='submit' value='Log In'>
</form>
