<h3>Enter your recipe information below</h3>
<form action='/newrecipe' method='post' id='new_recipe_form'>
  Recipe Title: <input type='text' name='name' placeholder='Recipe Title'><br>
  Ingredients: <textarea name='ingredients' form='new_recipe_form' rows='4' cols='50'></textarea><br>
  Directions: <textarea name='directions' form='new_recipe_form' rows='10' cols='50'></textarea><br>
  <input type="submit" value="Create your recipe!">
</form>