<form action='/signup' method='post'>
    <input type='text' name='username' placeholder='Username'>
    <% if flash[:errors] && flash[:errors][:username] %>
    <%= flash[:errors][:username].first %>
    <% end %><br>
    <input type='password' name='password' placeholder='Password'>
    <% if flash[:errors] && flash[:errors][:password] %>
    <%= flash[:errors][:password].first %>
    <% end %><br>
    <input type='submit' value='Sign up'>
</form>