<h1>Create A New Account</h1>

<form action='/signup' method='post'>
    Username: <input type='text' name='username' placeholder='Username' 
      <%= "value='#{@user.username}'" if flash[:errors] %>>
        <% if flash[:errors] && flash[:errors][:username] %>
          <%= flash[:errors][:username].first %>
        <% end %><br>
    Password: <input type='password' name='password' placeholder='Password'><br>
    <input type='submit' value='Sign up'>
</form>