<h2>Upload a recipe file from your computer</h2>
<form action='/uploadrecipe' enctype="multipart/form-data" method='post'>
    <input type="file" name="upload"><br>
    <button type="submit">Upload Your Recipe!</button>
</form>

<a href='/'>Return to Account Page</a>